.app {
     /* Add app styles here */
}

/* If we want a box but want to fade in and out, use opacity not visibility */
.boundingBox {
    opacity: 0.1;
    fill : black
}

.elastic {
    stroke-width: 1;
}

.line {
    stroke: blue;
}

.point {
    stroke: red;
    fill: yellow;
}

.event {
    fill: purple;
}

.change {
    stroke: palegreen;
    fill: green;
}