/* If we want a box but want to fade in and out, use opacity not visibility */
.eventBox {
    opacity: 0.05;
    fill : black
}

.histogramBox {
    opacity: 0.05;
    fill : blue
}

.elastic {
    stroke-width: 1;
}

.line {
    stroke: rgb(198, 198, 204);
    z-index: 15000;
}

.point {
    stroke: red;
    fill: yellow;
    z-index: 16000;
}

.event {
    fill: purple;
}

.change {
    stroke: palegreen;
    fill: green;
}

.unknown {
    fill: black;
}